.DS_Store
tokens
node_modules
tokens
/build
/package
/sql
.env
.env.*
!.env.example
.vercel
.output
*.log
file.txt
file.jpeg
file.ogg
auth_baileys
test.ts
ideas.txt
baileys_store.json
**/generated/prisma/